*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Important stuff here! Look at the bottom!!! (Line 133 to 136) */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background: #131313;
    font-family: 'Poppins', sans-serif;
}

:root {
  --nav-bg: #131313;
  --main-clr: dodgerblue;
  --nav-shadow: 0px 3px var(--main-clr);
}

nav {
  font-family: 'Poppins', sans-serif;
    top: 0;
    z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  border-bottom: #222222 1.5px solid;
  background: #131313;
  
}

nav .logo {
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
 
}

nav ul {
  --padding: 20px;
  --font-size: 17px;

  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 1s cubic-bezier(.68,-0.55,.27,10.55);
  border-bottom: #222222 1.5px solid;
}

nav ul li {
  padding: var(--padding);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;

  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

nav .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: #fff;
  transition: 0.3s ease;
  transform-origin: left;
}

nav .menu.active span {
  background: #AA14F0;
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}


.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    padding: 5rem;
    
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.textBox{
  margin: 10px;
}
.details{
margin: 10px;
}
.fields{
margin: 10px;
}
.textBox h1{
    font-size: 55px;
    text-align: center;
    color: white;
}
.details p{
    text-align: center;
    color: #616161;
    font-size: 18px;
}
.fields input{
    padding: 13px;
    width: 300px;
    margin-right: 6px;
    border-radius: 12px;
    background-color: #1b1b1b;
    border: #222222 1.5px solid;
}
.fields input:focus{
  outline: none;
  border: #AA14F0 2px solid;
}
.btn-mail{
    background: #AA14F0;
    padding: 13px;
    font-weight: bold;
    color:black;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    border: none;
}
.section-features{
  padding: 1rem;
}
.feature-main{
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr  1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card{
  background-color: #1d1d1d;
  border: 1px #e7e7e7;
  border-radius: 1rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
  display: flex;
}
.card-heading h1{
  color: white;
}
.des{
  margin: 6px;
}
.des p{
  color: white;
}
.card-btn{
  margin-top: 15px;
}
.card-a{
  margin-top: 8px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  background-color:#313131;
}

.section-third{
padding: 10px;
}
.main-heading{
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.main-heading h3{
color: white;
font-size: 40px;
text-align: center;
font-weight: bold;
}
.main-heading p{
  color: rgb(110, 110, 110);
text-align: center;
font-weight:200;
}
.second-grid{
  padding: 8px;
}
.main-grid-container{
  grid-template-columns: 1fr  1fr;
  grid-auto-columns: 1fr;
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.testimonials{
  border: 1.5px rgb(85, 85, 85) solid;
  background: #1d1d1d;
  padding: 0.8rem;
  border-radius: 12px;
}
.person h4{
  color: white;

}
.expe p{
  color: #a1a1a1;
}
.footer{
  border-top: #313131 1.5px solid;
  padding: 1rem;
}
.footer-content{
  padding: 6px;

}
.socials{
  display: flex;
  align-items: center;
  
}
.socials img{
margin: 6px;
}
.copyright p{
font-size: 16px;
color: #616161;
}

@media (max-width: 910px) {
  nav .menu {
    display: flex;
  }

  nav ul {
    --height: 0px;

    flex-direction: column;
    background: var(--nav-bg);
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    height: var(--height);
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  }
  nav ul.active {
    --height: calc(
      (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
    );
    /*   (Block Level Padding + The Font Size) * The Number of Children   */
    
    
    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
    text-transform: capitalize;
  }
  .section-header{
    padding: 3rem;
  }
 .textBox h1{
  font-size: 2rem
 }

 .feature-main{

  grid-template-columns: 1fr  1fr;
  
}
.main-grid-container{
  grid-template-columns: 1fr 1fr  1fr;
  
}
}
@media (max-width: 768px) {
  .feature-main{

    grid-template-columns:  1fr;
    
  }
  .main-grid-container{
    grid-template-columns:   1fr;
    
  }
  .main-heading h3{
  font-size: 35px;
  
  }
}
@media (max-width: 530px) {
.section-header{
  padding: 2rem;
}

 .details p{
  font-size: 16px;
 }

 .fields{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.fields input{
display: inline-block;
margin-bottom: 10px;
 width: 100%;
}
.btn-mail{
  width: 100%;
}
 }


